.abc:hover{
  background-color: lightblue;
}
.tab{
  background-repeat: no-repeat;
  background-image: url(/assets/befound2.jpeg);
  background-size: 100% 100%; 
  height:100%;
  box-shadow: 2px 2px 2px;
    
}
.tag{
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-image: url(/assets/befound3.jpeg);
}

img {
  border-radius: 50%;
}

.topnav {
  background-color: #87CEEB			;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A9A9A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: system-ui;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #A9A9A9;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.logout {
  position: absolute;
  top: 31px;
  right: 10px;
}

.profile {
  position: absolute;
  top: 78px;
  right: 20px;

}